/* ======== Colors ========== */
:root {
  --default-color: #e71247;
  --default-color2: #d64569;
  --dark-color: #222;
  --dark-color-alt: #3c4858;
  --grey-color: #f9fafd;
  --grey-color-alt: #8492a6;
  --yellow: #ffcc00;
  --white: #fff;
}

/* ======== Base ========== */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-color);
  background-color: var(--white);
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h2,
h3,
h4 {
  font-weight: 600;
}

.section {
  padding: 3rem;
}

input {
  outline: none;
  border: none;
}

.addToCart {
  display: inline-block;
  padding: 0.7rem 2rem;
  background-color: var(--default-color);
  color: var(--grey-color);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.addToCart:hover {
  background-color: var(--default-color2);
}

@media only screen and (max-width: 768px) {
  .addToCart {
    padding: 0.7rem 1.5rem;
  }
  .section {
    padding: 2rem;
  }
}
@media only screen and (max-width: 567px) {
  .addToCart {
    padding: 0.5rem 1.2rem;
  }
  .section {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 415px) {
  .addToCart {
    padding: 0.5rem 1rem;
  }
  .section {
    padding: 1rem 0.5rem;
  }
}

/* =========== Header ============ */

.header {
  height: 70px;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

/* =========== Header ============ */

.navigation {
  padding: 0 5rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background: linear-gradient(
      to bottom,
      rgba(136, 0, 133, 0.57),
      rgba(136, 0, 133, 0.57)
    ),
    url("../images/Banner1.jpg") center/cover no-repeat fixed;
  z-index: -1;
}

.navigation::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.fix__nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  align-items: center;
}

.menu__top .nav__logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.menu__top .nav__logo a span {
  color: var(--default-color);
}

.nav__item .nav__link:link,
.nav__item .nav__link:visited {
  display: inline-block;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 300ms ease-in-out;
}

.nav__item .nav__link:hover {
  color: var(--default-color);
}

.nav__item:last-child .nav__link {
  padding: 0.6rem 1.5rem;
  border-radius: 6rem;
  background-color: var(--default-color);
  transition: all 300ms ease-in-out;
  border: 1px solid var(--default-color);
  color: var(--white);
  cursor: pointer;
}

.nav__item:last-child .nav__link:hover {
  background-color: transparent;
  color: var(--white);
}

.nav__icons {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.nav__icons .icon__item {
  color: var(--grey-color);
}

.nav__icons .nav__item {
  margin: 0 0.3rem;
}

.hamburger {
  height: 1.9rem;
  width: 1.9rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 3px;
  display: none;
}

.hamburger > i {
  padding: 0.1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.nav__icons .icon__item {
  position: relative;
  background-color: var(--default-color);
  border-radius: 0.1rem;
  padding: 0.4rem;
}

.nav__icons .icon__item span {
  position: absolute;
  display: inline-block;
  top: -1.2rem;
  right: -0.7rem;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.1rem;
  z-index: 101;
}

.nav__icons .icon__item span {
  color: var(--white);
}

.nav__logo.responsive {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  z-index: -100;
  display: none;
}

.notification {
  position: fixed;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 70px;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 10000;
}

.notification.success {
  background-color: rgb(42, 253, 42);
  color: var(--dark-color);
  display: flex;
}

.notification.error {
  background-color: rgba(255, 66, 66, 0.993);
  color: var(--white);
  display: flex;
}

.notification.warning {
  background-color: rgba(255, 198, 41, 0.986);
  color: black;
  display: flex;
}

.notification.info {
  background-color: rgba(37, 124, 255, 0.979);
  color: var(--white);
  display: flex;
}

.notification.debug {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  display: flex;
}

.notification > i {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* =========== Navigation Media Query ============ */

@media only screen and (max-width: 1000px) {
  .navigation {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .navigation {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    padding: 0 2rem;
  }

  .hamburger {
    display: block;
  }
  .nav__list {
    position: fixed;
    padding-top: 1rem;
    top: 0;
    left: -50%;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    background-color: var(--white);
    height: 100%;
    width: 0;
    max-width: 50%;
    z-index: 100;
    transition: all 300ms ease-in-out;
    z-index: 100;
  }

  .nav__list.open {
    left: 0;
    width: 50%;
    padding-left: 1rem;
  }

  .nav__logo.responsive {
    display: flex;
    color: var(--dark-color);
  }

  .nav__logo.responsive a {
    color: var(--dark-color);
  }

  .nav__item .nav__link:link,
  .nav__item .nav__link:visited {
    color: var(--dark-color);
    font-size: 1rem;
  }

  .nav__item .nav__link:hover {
    color: var(--default-color);
  }

  .nav__item:last-child .nav__link:hover {
    background-color: transparent;
    color: var(--default-color);
  }

  .nav__item:last-child .nav__link:hover {
    margin-top: 2rem;
  }

  .notification {
    padding: 0.7rem 1rem;
  }

  body.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 70;
  }
}

@media screen and (max-width: 415px) {
  .navigation {
    padding: 0 1rem;
  }

  .notification {
    padding: 0.5rem 1rem;
  }
}

/* ============ Footer ============ */

.footer {
  background-color: var(--dark-color);
  padding: 3rem 1rem;
  line-height: 2rem;
}

.footer-top__box span i {
  width: 1rem;
  height: 1rem;
  color: var(--default-color);
}

.footer-top__box span {
  margin-right: 0.5rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--grey-color);
}

.footer-top__box a:link,
.footer-top__box a:visited {
  display: block;
  color: var(--grey);
  font-size: 0.8rem;
  transition: 0.6s;
}

.footer-top__box a:hover {
  color: var(--default-color);
}

.footer-top__box div {
  color: var(--grey);
  font-size: 0.7rem;
}

.footer-top__box h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

iframe {
  border: 5px solid red;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  max-width: 95%;
}

@media only screen and (max-width: 998px) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  iframe {
    max-width: 100%;
  }
}
