<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-eMEuiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'kidswear/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'kidswear/css/index.css' %}" />
    {% block css %}{% endblock css %}
    <script
      src="https://kit.fontawesome.com/04fab1aa05.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header id="header" class="header">
      <nav class="navigation">
        <div class="menu__top">
          <h1 class="nav__logo">
            <a href="/">SHOP<span>ME</span></a>
          </h1>
          <div class="close__toggle"></div>
        </div>

        <ul class="nav__list">
          <div class="menu__top">
            <h1 class="nav__logo responsive">
              <a href="/">SHOP<span>ME</span></a>
            </h1>
            <div class="close__toggle"></div>
          </div>
          <li class="nav__item">
            <a href="/" class="nav__link"> Home </a>
          </li>

          <li class="nav__item">
            <a href="/#new__arrival" class="nav__link"> What's new </a>
          </li>

          <li class="nav__item">
            <a href="/#featured" class="nav__link"> Featured </a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav__item">
            <a href="/logout" class="nav__link">Logout </a>
          </li>
          <li class="nav__item">
            <span class="nav__link">{{request.user}}</span>
          </li>

          {% else %}
          <li class="nav__item">
            <a href="/login" class="nav__link"> Login </a>
          </li>

          <li class="nav__item highlight">
            <a href="/signup" class="nav__link"> Register </a>
          </li>

          {% endif %}
        </ul>
        <ul class="nav__icons">
          <li class="nav__item">
            <a href="/cart" class="icon__item">
              <i class="fas fa-shopping-cart"></i>
              <span id="cartCount"></span>
            </a>
          </li>
          <li class="nav__item hamburger">
            <i class="fas fa-bars show"></i>
          </li>
        </ul>
      </nav>
      <div class="modal"></div>
    </header>
    {% for message in messages %}
    <div class="notification {{message.tags}}">
      <p>Message : {{ message }}</p>
      <i class="fas fa-times closeNoti"></i>
    </div>
    {% endfor %} {% block body %}{% endblock body %}
    <footer id="footer" class="section footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer-top__box">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3417.403700402875!2d81.33699871823002!3d21.198443944215917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1639318495290!5m2!1sen!2sin"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="footer-top__box">
            <h3>INFORMATION</h3>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-top__box">
            <h3>MY ACCOUNT</h3>
            <a href="#">My Account</a>
            <a href="#">Order History</a>
            <a href="#">Wish List</a>
            <a href="#">Newsletter</a>
            <a href="#">Returns</a>
          </div>
          <div class="footer-top__box">
            <h3>CONTACT US</h3>
            <div>
              <span>
                <i class="fas fa-map-marker-alt"></i>
              </span>
              43 Dream House, Dreammy street, 7131 Dreamville, USA
            </div>
            <div>
              <span>
                <i class="fas fa-envelope"></i>
              </span>
              company@gmail.com
            </div>
            <div>
              <span>
                <i class="fas fa-phone-alt"></i>
              </span>
              456-456-4512
            </div>
            <div>
              <span>
                <i class="fas fa-paper-plane"></i>
              </span>
              Dream City, USA
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'kidswear/javascript/index.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
