<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-eMEuiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'kidswear/style.css' %}>
    <script
      src="https://kit.fontawesome.com/04fab1aa05.js"
      crossorigin="anonymous"
    ></script>
    <title>kidswear</title>
  </head>
  <body>
    <header id="header" class="header">
      <div class="navigation">
        <nav class="nav__center">
          <div class="nav__header">
            <div class="nav__logo">
              <h1>SHOP<span>ME</span></h1>
            </div>

            <div class="nav__hamburger">
              <span>
                <i class="fas fa-bars"></i>
              </span>
            </div>
          </div>

          <div class="nav__menu">
            <div class="menu__top">
              <h1 class="nav__category">SHOP<span>ME</span></h1>
              <div class="close__toggle"></div>
            </div>
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#header" class="nav__link"> Home </a>
              </li>

              <li class="nav__item">
                <a href="#featured" class="nav__link"> Featured </a>
              </li>

              <li class="nav__item">
                <a href="#newsletter" class="nav__link"> Subscribe </a>
              </li>

              <li class="nav__item">
                <a href="#" class="nav__link"> Login </a>
              </li>

              <li class="nav__item">
                <a href="#" class="nav__link"> Register </a>
              </li>
            </ul>

            <ul class="nav__icons">
              <a href="#" class="icon__item">
                <i class="fas fa-shopping-cart"></i>
                <span>2</span>
              </a>
            </ul>
          </div>
        </nav>
      </div>
      <div class="hero">
        <div class="hero__content container">
          <h1>
            <span>
              Get <span class="color">50%</span> off your first shopping with
            </span>
            <span> SHOP<span class="color">ME</span> online shop </span>
          </h1>
          <a href="#" class="btn btn-hero"> shop now </a>
        </div>

        <a href="#new__arrival" class="goto__next">
          <span>
            <i class="fas fa-angle-down"></i>
          </span>
        </a>
      </div>
    </header>
    <div class="section new__arrival" id="new__arrival">
      <div class="arrivals container">
        <div class="title">
          <h1 class="primary__title">New Arrival</h1>
        </div>

        <div class="arrival__center">
          {% for p in newArrival %}
          <div class="product">
            <div class="img__container">
              <img src="/media/{{p.image}}" />
            </div>
            <div class="product__bottom">
              <div class="rating">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <h3>{{p.product_name}}</h3>
              <button class="addToCart">Add To Cart</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="special__offer">
      <div class="offer__container">
        <h1>SPECIAL OFFER</h1>
        <p>Special Offer Discount valid for Only this Week</p>
        <a href="#">SHOP NOW</a>
      </div>
    </div>
    <div class="section featured" id="featured">
      <div class="featured__container container">
        <div class="title">
          <h1 class="primary__title">Featured Products</h1>
        </div>

        <div class="featured__center">
          {% for p in product %}
          <div class="product">
            <div class="img__container">
              <img src="/media/{{p.image}}" alt="" />
            </div>
            <div class="product__bottom">
              <h3>{{p.product_name}}</h3>
              <button class="addToCart">Add To Cart</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <footer id="footer" class="section footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer-top__box">
            <h3>EXTRAS</h3>
            <a href="#">Brands</a>
            <a href="#">Gift Certificates</a>
            <a href="#">Affiliate</a>
            <a href="#">Specials</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-top__box">
            <h3>INFORMATION</h3>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-top__box">
            <h3>MY ACCOUNT</h3>
            <a href="#">My Account</a>
            <a href="#">Order History</a>
            <a href="#">Wish List</a>
            <a href="#">Newsletter</a>
            <a href="#">Returns</a>
          </div>
          <div class="footer-top__box">
            <h3>CONTACT US</h3>
            <div>
              <span>
                <i class="fas fa-map-marker-alt"></i>
              </span>
              43 Dream House, Dreammy street, 7131 Dreamville, USA
            </div>
            <div>
              <span>
                <i class="fas fa-envelope"></i>
              </span>
              company@gmail.com
            </div>
            <div>
              <span>
                <i class="fas fa-phone-alt"></i>
              </span>
              456-456-4512
            </div>
            <div>
              <span>
                <i class="fas fa-paper-plane"></i>
              </span>
              Dream City, USA
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'kidswear/index.js' %}"></script>
  </body>
</html>
